@model ThreadedComments.Models.Home.HomeIndex
@{
    ViewBag.Title = "Home Page";
}

<h3>Boards</h3>
<ul>
@foreach (var board in Model.Boards)
{
    <li>@Html.ActionLink(board.Name, "Index", "Board", new RouteValueDictionary { { "id", board.BoardId} }, null)</li>
}
</ul>
